@font-face {
    font-family: 'sp-mono';
    src: url('../media/Space_Mono/SpaceMono-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'sp-mono-bld';
    src: url('../media/Space_Mono/SpaceMono-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}
